<div class="example-container">
<form [formGroup]="searchForm" autocomplete="off" novalidate (ngSubmit)="search(searchForm.value)">
  <div class="col-sm-7 col-sm-offset-4 mx-auto">
  <div class="input-group">
      <input type="text" id="word" formControlName="word" value="{{searchForm.value.word}}" class="form-control"/>
      <button mat-stroked-button mr-1>Search</button>
</div>
</div>
</form>

<div *ngIf="translationExist">
  <p>{{word}}</p>
  <p>перевод: {{translation}}</p>
  <div *ngIf="nounsTranslationExist">
  <p>существительное:</p>
<ul>
  <li *ngFor="let n of nounsTranslations">{{n}}</li>
</ul>
</div>
<div *ngIf="adjectivesTranslationExist">
  <p>прилагательное:</p>
<ul>
  <li *ngFor="let a of adjectivesTranslations">{{a}}</li>
</ul>
</div>
<div *ngIf="verbsTranslationExist">
  <p>глагол:</p>
<ul>
  <li *ngFor="let v of verbsTranslations">{{v}}</li>
</ul>
</div>
</div>
